# Database Configuration
POSTGRES__HOST=
POSTGRES__PORT=
POSTGRES__DATABASE=
POSTGRES__USERNAME=
POSTGRES__PASSWORD=


SECRET_KEY=your_secret_key_here

WHISPER__HOST=http://localhost
WHISPER__PORT=8080
