# Database Configuration
POSTGRES__HOST=
POSTGRES__PORT=
POSTGRES__DATABASE=
POSTGRES__USERNAME=
POSTGRES__PASSWORD=


SECRET_KEY=your_secret_key_here

WHISPER__HOST=http://localhost
WHISPER__PORT=8080
WHISPER__HOST2=
WHISPER__PORT2=

LLM__PROVIDER=
LLM__API_KEY=
LLM__MODEL=
LLM__AWS_REGION=
LLM__AWS_ACCESS_KEY_ID=
LLM__AWS_SECRET_ACCESS_KEY=
